* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-size: 1.125em;
    font-family: 'Asap', sans-serif;
    background-image: url(fromages.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

div {
    position:relative;
    float: right;
    margin-right: 2em;
}

h1 {
    position: absolute;
    top: 400px;
    left: -280px;
    font-size: 1.3em;
    color: rgb(255, 0, 0);
    transform: rotate(-90deg);
    text-shadow: 1px 2px 5px rgb(0, 0, 0); 
}

article {
    margin: 1em 0;
    padding: 0.6em;
    background: rgba(151, 28, 44);
    border-radius: 15px 0 15px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

article:hover{
    background:rgb(199, 4, 4);
    box-shadow: 2px 2px 2px rgb(0, 0, 0);

}

article > p {
font-size: 0.7em; 
}


article > p:nth-child(n){
    font-weight: bold;
color: white; 
}